.container {
  width: 73%;
  margin: 3rem auto;
  display: flex;
}

.posts-container {
  width: 170%;
}

.single-post {
  margin: 2rem 0;
  display: flex;
}

.section-title {
  font-weight: 400;
  font-size: 20px;
  text-decoration: underline;
  margin-bottom: 2rem;
}

.post-credit {
  color: #B4B4B4;
  font-size: 12.5px;
  padding: 1rem 2rem 1rem 0 ;
  min-width: 70%;
}

p {
  color: #808080;
  font-size: 14px;
  line-height: 1.5;
  margin: 0.5rem 0 1rem 0;
}

h2, a {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
}

span {
  display: flex;
  gap: 0.3rem;
  align-items: center;
}

img {
  width: 100%;
  height: 100%;
}

app-trending {
  width: 60%;
}

@media (max-width: 1024px) {
  .container {
    width: 82%;
    flex-direction: column;
  }

  .posts-container {
    width: 100%;
  }

  .single-post {
    flex-direction: row-reverse;
  }

  .post-credit {
    padding: 0 2rem;
  }

  app-trending {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .single-post {
    flex-direction: column-reverse;
  }

  .post-credit {
    padding: 1rem 0;
  }
}

