<app-nav-bar></app-nav-bar>
<app-slider [articles]="topArticles"></app-slider>
<div class="container">
  <div class="category-trending">
    <div class="category">
      <app-sport-list></app-sport-list>
    </div>
    <app-trending [sectionTitle]="'Trending'"></app-trending>
  </div>

  <div class="special-post">
    <div class="img-container">
      <img [src]="topArticles[4]?.urlToImage || '../../../../assets/imgs/article.jpg'" alt="test image">
    </div>
    <div class="content-container">
      <span class="type">Top Articles</span>
      <h2><a [href]="topArticles[4]?.url" target="_blank">{{ topArticles[4]?.title }}</a></h2>
      <p>{{ topArticles[4]?.description }}</p>
      <div class="post-credit">
        <span><a>{{ topArticles[4]?.author || 'Unknown Author' }}</a> in <a>{{ topArticles[4]?.source.name }}</a></span>
        <span>{{ topArticles[4]?.publishedAt | date: 'MMM d' }} • 3 min read
          <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24">
            <path fill="#959595" d="m5.825 21l1.625-7.025L2 9.25l7.2-.625L12 2l2.8 6.625l7.2.625l-5.45 4.725L18.175 21L12 17.275z" />
          </svg>
        </span>
      </div>
    </div>
  </div>

  <div class="politics-business">
    <div class="politics-container">
      <h2 class="section-title">Politics</h2>
      <div class="posts">
        <div class="single-post" *ngFor="let article of politicsArticles.slice(0, 3)">
          <img [src]="article?.urlToImage || '../../../../assets/imgs/article.jpg'" alt="">
          <div class="post-credit">
            <h3><a [href]="article?.url" target="_blank">{{ article?.title }}</a></h3>
            <p>{{ article?.description }}</p>
            <span><a>{{ article?.author|| 'Unknown Author' }}</a> in <a>{{ article.source.name }}</a></span>
            <span>{{ article?.publishedAt | date: 'MMM d' }} • 3 min read
              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24">
                <path fill="#959595" d="m5.825 21l1.625-7.025L2 9.25l7.2-.625L12 2l2.8 6.625l7.2.625l-5.45 4.725L18.175 21L12 17.275z" />
              </svg>
            </span>
          </div>
        </div>

      </div>
    </div>

    <div class="business-container">
      <h2 class="section-title">Business</h2>
      <div class="posts">
        <div class="single-post" *ngFor="let article of businessArticles.slice(0, 3)">
          <img [src]="article?.urlToImage || '../../../../assets/imgs/article.jpg'" alt="">
          <div class="post-credit">
            <h3><a [href]="article?.url" target="_blank">{{ article?.title }}</a></h3>
            <p>{{ article?.description }}</p>
            <span><a>{{ article?.author|| 'Unknown Author' }}</a> in <a>{{ article.source.name }}</a></span>
            <span>{{ article?.publishedAt | date: 'MMM d' }} • 3 min read
              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24">
                <path fill="#959595" d="m5.825 21l1.625-7.025L2 9.25l7.2-.625L12 2l2.8 6.625l7.2.625l-5.45 4.725L18.175 21L12 17.275z" />
              </svg>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="recent-popular">
    <app-categories-posts></app-categories-posts>
    <app-trending [sectionTitle]="'Popular Posts'"></app-trending>
  </div>
</div>

<app-subscribe></app-subscribe>

<app-footer></app-footer>
