<app-nav-bar></app-nav-bar>
<app-slider [articles]="topArticles"></app-slider>
<div class="container">
  <div class="category-trending">
    <div class="category">
      <div class="wrapper">
        <h2 class="section-title">Sports</h2>
        <div class="selected">
          <img src="../../../assets/imgs/test.jpg" alt="">
          <h3>News Needs to Meet Its Audiences Where They Are</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit officia neque beatae at inventore excepturi numquam sint commodi alias, quam consequuntur corporis ex.</p>
          <div class="post-credit">
            <span><a>Dave Roger</a> in <a>Food</a></span>
            <span>Jun 13 • 3 min read
              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24">
                <path fill="#959595" d="m5.825 21l1.625-7.025L2 9.25l7.2-.625L12 2l2.8 6.625l7.2.625l-5.45 4.725L18.175 21L12 17.275z" />
              </svg>
            </span>
          </div>
        </div>
      </div>
      <div class="posts">
        <div class="single-post active">
          <img src="../../../assets/imgs/test3.jpeg" alt="">
          <div class="post-credit">
            <h3>News Needs to Meet Its Audiences Where They Are</h3>
            <span><a>Dave Roger</a> in <a>Food</a></span>
            <span>Jun 13 • 3 min read
              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24">
                <path fill="#959595" d="m5.825 21l1.625-7.025L2 9.25l7.2-.625L12 2l2.8 6.625l7.2.625l-5.45 4.725L18.175 21L12 17.275z" />
              </svg>
            </span>
          </div>
        </div>
        <div class="single-post">
          <img src="../../../assets/imgs/test3.jpeg" alt="">
          <div class="post-credit">
            <h3>News Needs to Meet Its Audiences Where They Are</h3>
            <span><a>Dave Roger</a> in <a>Food</a></span>
            <span>Jun 13 • 3 min read
              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24">
                <path fill="#959595" d="m5.825 21l1.625-7.025L2 9.25l7.2-.625L12 2l2.8 6.625l7.2.625l-5.45 4.725L18.175 21L12 17.275z" />
              </svg>
            </span>
          </div>
        </div>
        <div class="single-post">
          <img src="../../../assets/imgs/download (1).jpeg" alt="">
          <div class="post-credit">
            <h3>News Needs to Meet Its Audiences Where They Are</h3>
            <span><a>Dave Roger</a> in <a>Food</a></span>
            <span>Jun 13 • 3 min read
              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24">
                <path fill="#959595" d="m5.825 21l1.625-7.025L2 9.25l7.2-.625L12 2l2.8 6.625l7.2.625l-5.45 4.725L18.175 21L12 17.275z" />
              </svg>
            </span>
          </div>
        </div>
      </div>

    </div>
    <app-trending></app-trending>
  </div>

  <div class="special-post">
    <div class="img-container">
      <img src="../../../../assets/imgs/test.jpg" alt="test image">
    </div>
    <div class="content-container">
      <span class="type">Editor's Pick</span>
      <h2><a>News Needs to Meet Its Audiences Where They Are</a></h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit officia neque beatae at inventore excepturi numquam sint commodi alias, quam consequuntur corporis ex, distinctio eaque sapiente pariatur iure ad necessitatibus in quod obcaecati natus consequatur. Sed dicta maiores, eos culpa.</p>
      <div class="post-credit">
        <span><a>Dave Roger</a> in <a>Food</a></span>
        <span>Jun 13 • 3 min read
          <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24">
            <path fill="#959595" d="m5.825 21l1.625-7.025L2 9.25l7.2-.625L12 2l2.8 6.625l7.2.625l-5.45 4.725L18.175 21L12 17.275z" />
          </svg>
        </span>
      </div>
    </div>
  </div>

  <div class="politics-business">
    <div class="politics-container">
      <h2 class="section-title">Politics</h2>
      <div class="posts">
        <div class="single-post">
          <img src="../../../assets/imgs/test3.jpeg" alt="">
          <div class="post-credit">
            <h3>News Needs to Meet Its Audiences Where They Are</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus praesentium neque, voluptatum quam quibusdam.</p>
            <span><a>Dave Roger</a> in <a>Food</a></span>
            <span>Jun 13 • 3 min read
              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24">
                <path fill="#959595" d="m5.825 21l1.625-7.025L2 9.25l7.2-.625L12 2l2.8 6.625l7.2.625l-5.45 4.725L18.175 21L12 17.275z" />
              </svg>
            </span>
          </div>
        </div>
        <div class="single-post">
          <img src="../../../assets/imgs/test3.jpeg" alt="">
          <div class="post-credit">
            <h3>News Needs to Meet Its Audiences Where They Are</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus praesentium neque, voluptatum quam quibusdam.</p>
            <span><a>Dave Roger</a> in <a>Food</a></span>
            <span>Jun 13 • 3 min read
              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24">
                <path fill="#959595" d="m5.825 21l1.625-7.025L2 9.25l7.2-.625L12 2l2.8 6.625l7.2.625l-5.45 4.725L18.175 21L12 17.275z" />
              </svg>
            </span>
          </div>
        </div>
        <div class="single-post">
          <img src="../../../assets/imgs/download (1).jpeg" alt="">
          <div class="post-credit">
            <h3>News Needs to Meet Its Audiences Where They Are</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus praesentium neque, voluptatum quam quibusdam.</p>
            <span><a>Dave Roger</a> in <a>Food</a></span>
            <span>Jun 13 • 3 min read
              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24">
                <path fill="#959595" d="m5.825 21l1.625-7.025L2 9.25l7.2-.625L12 2l2.8 6.625l7.2.625l-5.45 4.725L18.175 21L12 17.275z" />
              </svg>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="business-container">
      <h2 class="section-title">Business</h2>
      <div class="posts">
        <div class="single-post">
          <img src="../../../assets/imgs/test3.jpeg" alt="">
          <div class="post-credit">
            <h3>News Needs to Meet Its Audiences Where They Are</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus praesentium neque, voluptatum quam quibusdam.</p>
            <span><a>Dave Roger</a> in <a>Food</a></span>
            <span>Jun 13 • 3 min read
              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24">
                <path fill="#959595" d="m5.825 21l1.625-7.025L2 9.25l7.2-.625L12 2l2.8 6.625l7.2.625l-5.45 4.725L18.175 21L12 17.275z" />
              </svg>
            </span>
          </div>
        </div>
        <div class="single-post">
          <img src="../../../assets/imgs/test3.jpeg" alt="">
          <div class="post-credit">
            <h3>News Needs to Meet Its Audiences Where They Are</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus praesentium neque, voluptatum quam quibusdam.</p>
            <span><a>Dave Roger</a> in <a>Food</a></span>
            <span>Jun 13 • 3 min read
              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24">
                <path fill="#959595" d="m5.825 21l1.625-7.025L2 9.25l7.2-.625L12 2l2.8 6.625l7.2.625l-5.45 4.725L18.175 21L12 17.275z" />
              </svg>
            </span>
          </div>
        </div>
        <div class="single-post">
          <img src="../../../assets/imgs/download (1).jpeg" alt="">
          <div class="post-credit">
            <h3>News Needs to Meet Its Audiences Where They Are</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus praesentium neque, voluptatum quam quibusdam.</p>
            <span><a>Dave Roger</a> in <a>Food</a></span>
            <span>Jun 13 • 3 min read
              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24">
                <path fill="#959595" d="m5.825 21l1.625-7.025L2 9.25l7.2-.625L12 2l2.8 6.625l7.2.625l-5.45 4.725L18.175 21L12 17.275z" />
              </svg>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="recent-popular">
    <app-categories-posts></app-categories-posts>
    <app-trending></app-trending>
  </div>
</div>

<app-subscribe></app-subscribe>

<app-footer></app-footer>
