.newsletter-sub {
  background-color: #F8F9FA;
  padding: 5rem 0;
  width: 100%;
}

.newsletter-container {
  width: 73%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

}

.subscribe {
  width: 50%;
  padding: 1rem 3rem 1rem 0;
}

.subscribe h3 {
  font-weight: 400;
  margin-bottom: 1rem;
}

.subscribe p {
  width: 90%;
  color: #808080;
}

.subscribe-form {
  display: flex;
  justify-content: center;
  gap: 1rem;
  height: 3.1rem;
  width: 50%;
}

#email {
  width: 30rem;
  padding: 4% 5%;
  font-size: 1rem;
  border: none;
  border-radius: 30px;
  box-shadow: 0px 1px 0.5px rgba(0, 0, 0, 0.3);
}

#email:focus {
  outline: none;
}

.sendBtn {
  padding: 1rem 1.5rem;
  background-color: #000000;
  border-radius: 2rem;
  border: none;
}

.sendBtn:hover {
  background-color: #649130;
  cursor: pointer;
}

@media (max-width: 768px) {
  .newsletter-sub {
    padding: 1rem 0;
  }

  .newsletter-container {
    flex-direction: column;
    width: 100%;
  }

  .subscribe {
    width: 70%;
    padding-right: 0;
  }

  .subscribe p {
    width: 100%;
  }

  .subscribe-form {
    width: 60%;
  }
}
