<!-- <div class="slider">
  <div class="card">
    <div class="img-container">
      <img src="../../../../assets/imgs/test.jpg" alt="test image">
    </div>
    <div class="content-container">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus praesentium neque, voluptatum quam quibusdam.</p>
    </div>
  </div>
  <div class="card">
    <div class="img-container">
      <img src="../../../../assets/imgs/test.jpg" alt="test image">
    </div>
    <div class="content-container">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus praesentium neque, voluptatum quam quibusdam.</p>
    </div>
  </div>
  <div class="card">
    <div class="img-container">
      <img src="../../../../assets/imgs/test.jpg" alt="test image">
    </div>
    <div class="content-container">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus praesentium neque, voluptatum quam quibusdam.</p>
    </div>
  </div>
</div> -->

<div class="container">

    <input type="radio" class="cs_anchor radio" name="slider" id="slide1"/>
    <input type="radio" class="cs_anchor radio" name="slider" id="slide2"/>
    <input type="radio" class="cs_anchor radio" name="slider" id="slide3"/>
    <input type="radio" class="cs_anchor radio" name="slider" id="play1" checked=""/>

    <div class="slider">
      <div class="slider-inner" #sliderInner>
        <div class="slide">
          <div class="img-container">
            <img src="../../../../assets/imgs/test.jpg" alt="test image">
          </div>
          <div class="content-container">
            <span>Editor's Pick</span>
            <h2><a>News Needs to Meet Its Audiences Where They Are</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus praesentium neque, voluptatum quam quibusdam.</p>
            <div class="post-credit">
              <span><a>Dave Roger</a> in <a>Food</a></span>
              <span>Jun 13 • 3 min read
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
                  <path fill="#6e6e6e" d="m5.825 21l1.625-7.025L2 9.25l7.2-.625L12 2l2.8 6.625l7.2.625l-5.45 4.725L18.175 21L12 17.275z" />
                </svg>
              </span>
            </div>
          </div>
        </div>
        <div class="slide">
          <div class="img-container">
            <img src="../../../../assets/imgs/test2.jpg" alt="test image">
          </div>
          <div class="content-container">
            <span>Editor's Pick</span>
            <h2><a>News Needs to Meet Its Audiences Where They Are</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus praesentium neque, voluptatum quam quibusdam.</p>
            <div class="post-credit">
              <span><a>Dave Roger</a> in <a>Food</a></span>
              <span>Jun 13 • 3 min read
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
                  <path fill="#6e6e6e" d="m5.825 21l1.625-7.025L2 9.25l7.2-.625L12 2l2.8 6.625l7.2.625l-5.45 4.725L18.175 21L12 17.275z" />
                </svg>
              </span>
            </div>
          </div>
        </div>
        <div class="slide">
          <div class="img-container">
          <img src="../../../../assets/imgs/download (1).jpeg" alt="test image">
          </div>
          <div class="content-container">
            <span>Editor's Pick</span>
            <h2><a>News Needs to Meet Its Audiences Where They Are</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus praesentium neque, voluptatum quam quibusdam.</p>
            <div class="post-credit">
              <span><a>Dave Roger</a> in <a>Food</a></span>
              <span>Jun 13 • 3 min read
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
                  <path fill="#6e6e6e" d="m5.825 21l1.625-7.025L2 9.25l7.2-.625L12 2l2.8 6.625l7.2.625l-5.45 4.725L18.175 21L12 17.275z" />
                </svg>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="labels">
      <div class="fake-radio">
        <label for="slide1" class="radio-btn"></label>
        <label for="slide2" class="radio-btn"></label>
        <label for="slide3" class="radio-btn"></label>
      </div>
    </div>
</div>
<div id="controls">
  <label (click)="goToPrev()" class="control-btn" #prevBtn>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <path fill="none" stroke="#6e6e6e" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 12H4m0 0l6-6m-6 6l6 6" />
    </svg>
  </label>
  <label (click)="goToNext()" class="control-btn" #nextBtn>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <path fill="none" stroke="#6e6e6e" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 12h16m0 0l-6 6m6-6l-6-6" />
    </svg>
  </label>
</div>

<!-- <div class="carousel">
  <div class="carousel-inner">
      <input class="carousel-open" type="radio" id="carousel-1" name="carousel" aria-hidden="true" hidden="" checked="checked">
      <div class="carousel-item">
          <img src="http://fakeimg.pl/2000x800/0079D8/fff/?text=Without">
      </div>
      <input class="carousel-open" type="radio" id="carousel-2" name="carousel" aria-hidden="true" hidden="">
      <div class="carousel-item">
          <img src="http://fakeimg.pl/2000x800/DA5930/fff/?text=JavaScript">
      </div>
      <input class="carousel-open" type="radio" id="carousel-3" name="carousel" aria-hidden="true" hidden="">
      <div class="carousel-item">
          <img src="http://fakeimg.pl/2000x800/F90/fff/?text=Carousel">
      </div>
      <label for="carousel-3" class="carousel-control prev control-1">‹</label>
      <label for="carousel-2" class="carousel-control next control-1">›</label>
      <label for="carousel-1" class="carousel-control prev control-2">‹</label>
      <label for="carousel-3" class="carousel-control next control-2">›</label>
      <label for="carousel-2" class="carousel-control prev control-3">‹</label>
      <label for="carousel-1" class="carousel-control next control-3">›</label>
      <ol class="carousel-indicators">
          <li>
              <label for="carousel-1" class="carousel-bullet">•</label>
          </li>
          <li>
              <label for="carousel-2" class="carousel-bullet">•</label>
          </li>
          <li>
              <label for="carousel-3" class="carousel-bullet">•</label>
          </li>
      </ol>
  </div>
</div> -->
