<div class="container">

    <input type="radio" class="cs_anchor radio" name="slider" id="slide1"/>
    <input type="radio" class="cs_anchor radio" name="slider" id="slide2"/>
    <input type="radio" class="cs_anchor radio" name="slider" id="slide3"/>
    <input type="radio" class="cs_anchor radio" name="slider" id="play1" checked=""/>

    <div class="slider">
      <div class="slider-inner" #sliderInner>
        <div class="slide" *ngFor="let article of articles.slice(0, 3)">
          <div class="img-container">
            <img [src]="article?.urlToImage || '../../../../assets/imgs/article.jpg'" alt="test image">
          </div>
          <div class="content-container">
            <span class="type">Top Articles</span>
            <h2><a>{{ article?.title }}</a></h2>
            <p>{{ article?.description }}</p>
            <div class="post-credit">
              <span><a>{{ article?.author || 'Unknown Author' }}</a> in <a>{{ article?.source.name }}</a></span>
              <span>{{ article?.publishedAt | date: 'MMM d' }} • 3 min read
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24">
                  <path fill="#959595" d="m5.825 21l1.625-7.025L2 9.25l7.2-.625L12 2l2.8 6.625l7.2.625l-5.45 4.725L18.175 21L12 17.275z" />
                </svg>
              </span>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="labels">
      <div class="fake-radio">
        <label for="slide1" class="radio-btn"></label>
        <label for="slide2" class="radio-btn"></label>
        <label for="slide3" class="radio-btn"></label>
      </div>
    </div>
</div>
<div id="controls">
  <label (click)="goToPrev()" class="control-btn" #prevBtn>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <path fill="none" stroke="#6e6e6e" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 12H4m0 0l6-6m-6 6l6 6" />
    </svg>
  </label>
  <label (click)="goToNext()" class="control-btn" #nextBtn>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <path fill="none" stroke="#6e6e6e" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 12h16m0 0l-6 6m6-6l-6-6" />
    </svg>
  </label>
</div>
